%h1 Listing issues

%table
  %thead
    %tr
      %th Number
      %th Publish date
      %th
      %th
      %th
      
  %tbody
    - @issues.each do |issue|
      %tr
        %td= issue.number
        %td= issue.publish_date
        %td= link_to 'Show', issue
        %td= link_to 'Edit', edit_issue_path(issue)
        %td= link_to 'Destroy', issue, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Issue', new_issue_path
